  @import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

  body {
    font-family: 'Sarabun', sans-serif!important;
    input{
        font-family: 'Sarabun', sans-serif!important;
    }
    
}
.ce-info{
.zoomtextarea{
    min-height: 5rem;
}
span{
    font-size: 16px!important; 
}
.font-small {
    font-size: 14px!important;
}
.font-small-lager {
    font-size: 16px;
}
.font-medium {
    font-size: 18px;
}
.font-medium-lager {
    font-size: 20px;
}
.font-weight-heavy {
    font-weight: 600;
}
.movedownradio{
    margin-top: 20px!important;
}

.part-text-head-green {
    width: 100%;
    color: #a4c636;

    .hr-part-text-head {
        margin-top: 1px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid #a4c636;
    }
}

.part-text-head-violet {
    width: 100%;
    color: #7f6aa1;

    .hr-part-text-head {
        margin-top: 1px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid #7f6aa1;
    }
}

.part-text-head-orange {
    width: 100%;
    color: rgb(255, 120, 0);

    .hr-part-text-head {
        margin-top: 1px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid rgb(255, 120, 0);
    }
}

.part-text-head-Persian-Green {
    width: 100%;
    color: #26a69a;

    .hr-part-text-head {
        margin-top: 1px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid #26a69a;
    }
}

.part-text-head-pink {
    width: 100%;
    color: rgb(255, 0, 127);

    .hr-part-text-head {
        margin-top: 1px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid rgb(255, 0, 127);
    }
}

.part-text-head-blue {
    width: 100%;
    color: #0091ea;

    .hr-part-text-head {
        margin-top: 1px;
        margin-bottom: 10px;
        width: 100%;
        border: 1px solid #0091ea;
    }
}

    margin: 0;
    background: #fff;

    .container{
        margin-top: 15px;
    }
    
    .card-panel {
        padding: 13px;

        .row .col {
            padding: 0 0.40rem;
        }

        .resize-td{
            padding: 0px 5px;
        }

        table{
            border-collapse: unset !important;
        }
   
    }
    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
      }
    
      input,textarea   {
        background-color: rgb(235, 255, 252)!important;
        border-radius: 4px!important;
        z-index: -1;    
        }
}
