@import url('https://fonts.googleapis.com/css?family=Sarabun&display=swap');

body {
  font-family: 'Sarabun', sans-serif!important;
  input{
      font-family: 'Sarabun', sans-serif!important;
  }
  
}

td, th {
    padding: 0px 0px !important;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

form{
    p{
        margin: 5px 0px !important;
        span{
            font-size: 20px !important;
            color: black !important;
        }
    }
}
