.nav-info{
    margin: 0;
    background: #fff;

    .nav-wrapper{
        background-color: rgb(77, 193, 188);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    .nav-wrapper:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .sidenav-trigger-right {
        font-size: 1.5rem;
        float: right;
        position: relative;
        z-index: 1;
        height: 56px;
        margin: 0 18px;
    }

    .sidenav-trigger {
        font-size: 1.5rem;
    }

    .brand-logo { 
        left: 50%;
    }
}
