<template name='c_view'>
    <div class="ce-info">
        {{> navbar}}
        <div class="container">
            <div id="page_1">
                <div class="card-panel z-depth-1">
                    <div style="margin-top: -20px">
                        <p class="font-medium-lager center"> แบบรายงานการตายมารดาเบื้องต้น Confidential Enquiries-CE
                            62</p>
                        <div class="row">
                            <div class="font-small-lager input-field col s6 m4 l4" id="provence-div">
                                <select id="PROVINCE">
                                    <option value="" disabled selected>เลือกจังหวัด</option>

                                    {{#each province}}
                                    <option value="{{PROVINCE}}">{{PROVINCE}}</option>
                                    {{/each}}
                                </select>
                                <label style="color: black">จังหวัด</label>
                            </div>
                            <div class="font-small-lager input-field col s6 m4 l4" id="amphoe-div">
                                <select id="DISTRICT">
                                    <option value="" disabled selected>เลือกอำเภอ</option>

                                    {{#each district}}
                                    <option value="{{DISTRICT}}">{{DISTRICT}}</option>
                                    {{/each}}
                                </select>
                                <label style="color: black">อำเภอ</label>
                            </div>
                            <div class="font-small-lager input-field col s6 m4 l4" id="amphoe-div">
                                <select id="SUBDISTRICT">
                                    <option value="" disabled selected>เลือกตำบล</option>

                                    {{#each subdistrict}}
                                    <option value="{{SUBDISTRICT}}">{{SUBDISTRICT}}</option>
                                    {{/each}}
                                </select>
                                <label style="color: black">ตำบล</label>
                            </div>
                            <div class="font-small-lager input-field col s6 m6 l6" id="amphoe-div">
                                <select id="HOSNAME">
                                    <option value="" disabled selected>เลือกสถานบริการ</option>

                                    {{#each hospital}}
                                    <option value="{{NAME}}">{{HOSPCODE}}-{{NAME}}</option>
                                    {{/each}}
                                </select>
                                <label style="color: black">สถานบริการที่เกิดเหตุ</label>
                            </div>

                            <div class="font-small-lager input-field  col s12 m6">
                                <input id="REPORTDATE" type="text" class="datepicker validate" value="{{date_to_thai easy_data.REPORTDATE}}">
                                <label class="active" id="label-REPORTDATE" for="REPORTDATE"> วันเดือนปีที่รายงาน
                                </label>
                            </div>
                        </div>



                        <div class="row">
                            <div class="font-small-lager input-field  col s5 m5">
                                <input id="NAME" type="text" class="validate"  value="{{easy_data.NAME}}">
                                <label class="active" id="label-name" for="NAME"> ชื่อ </label>
                            </div>

                            <div class="font-small-lager input-field  col s5 m5" value="{{easy_data.LNAME}}">
                                <input id="LNAME" type="text" class="validate">
                                <label class="active" id="label-LNAME" for="LNAME"> นามสกุล </label>
                            </div>
                            <div class="font-small-lager input-field  col s2 m2" value="{{easy_data.AGE}}">
                                <input id="AGE" type="number" class="validate">
                                <label class="active" id="label-AGE" for="AGE"> อายุ </label>
                            </div>

                            <div class="font-small-lager input-field  col s12 m4">
                                <select id="NO_PREGNANCY">
                                    <option value="" disabled selected>เลือก</option>
                                    {{#each number}}
                                    <option value="{{index}}">{{index}}</option>
                                    {{/each}}
                                </select>
                                <label>ตั้งครรภ์ครั้งที่</label>
                            </div>
                            <div class="font-small-lager input-field  col s12 m4">
                                <input id="DATE_DEAD" type="text" class="datepicker validate" value="{{date_to_thai easy_data.DATE_DEAD}}">
                                <label id="label-" for="DATE_DEAD" class="active">วันที่ตาย</label>
                            </div>
                            <div class="font-small-lager input-field  col s12 m4">
                                <input id="GES_AGE_MOM_DEAD" type="text" class="validate">
                                <label id="label-" for="GES_AGE_MOM_DEAD"
                                    class="">อายุครรภ์มารดาเสียชีวิต(สัปดาห์)</label>
                            </div>
                            <div class="font-small-lager input-field  col s12 m12">
                                สาเหตุการเสียชีวิตเบื้องต้น
                                <textarea value="{{easy_data.PRIMARY_CAUSE_OF_DEATH}}" id="PRIMARY_CAUSE_OF_DEATH" type="text" class="zoomtextarea validate"></textarea>
                                <label id="label-PRIMARY_CAUSE_OF_DEATH" for="PRIMARY_CAUSE_OF_DEATH" class=""> </label>
                            </div>
                            <div class="col s12 m12">
                                <p class="font-small-lager">การมาสถานบริการ</p>
                            </div>
                            <div class="col s2 m2">

                            </div>
                            <div class="col s10 m10">
                                <div class="col s5 m5 movedownradio">
                                    <label>
                                        <input value="1" class="with-gap" name="CASEREFER" type="radio" />
                                        <span>Case Refer</span>
                                    </label>


                                </div>
                                <div class="col s5 m5 movedownradio">

                                    <label>
                                        <input value="2" class="with-gap" name="CASEREFER" type="radio" />
                                        <span class="">มาเอง</span>
                                    </label>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <center><a id="save-btn" class="waves-effect waves-light btn-small ceter">บันทึก</a></center>
                <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <h4>ยืนยันการบันทึก</h4>
                        <p>ต้องการกรอกข้อมูลแบบรายงานการตายมารดาเเบบละเอียดหรือไม่</p>
                    </div>
                    <div class="modal-footer">
                        <a id="modal-go" href="/ce" class="modal-close waves-effect waves-blue btn-flat right">บันทึก</a>
                        <a id="modal-save" class="modal-close waves-effect waves-green btn-flat">ภายหลัง</a>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

</template>