<template name="easy_report">
    <table class="careplan" style="font-size: 28px;width: 1100px">
        <u><b>แบบรายงานการตายมารดาเบื้องต้น</b></u>
        <section style="height: 20px;"></section>
        <tr style="border: none">
            <td colspan="4">สถานบริการ ........................</td>
        </tr>
        <section style="height: 10px;"></section>
        <tr style="border: none">
            <td>ตำบล ........................</td>
            <td>อำเภอ ........................</td>
            <td>จังหวัด ........................</td>
        </tr>
        <section style="height: 10px;"></section>
        <tr>
            <td colspan="4">วันที่รายงาน ........................</td>
        </tr>
        <section style="height: 10px;"></section>
        <tr>
            <td colspan="1">ชื่อ-สกุล ........................</td>
            <td colspan="3">อายุ ........................ปี</td>
        </tr>
        <section style="height: 10px;"></section>
        <tr>
            <td colspan="4">ตั้งครรภ์ครั้งที่ ........................</td>
        </tr>
        <section style="height: 10px;"></section>
        <tr>
            <td colspan="1">วันที่เสียชีวิต ........................</td>
            <td colspan="3">อายุครรภ์มารดาเสียชีวิต ........................</td>
        </tr>
        <section style="height: 10px;"></section>
        <tr>
            <td colspan="4">สาเหตุการเสียชีวิตเบื้องต้น ........................</td>
        </tr>
        <section style="height: 10px;"></section>
        <tr>
            <td>[] Case refer</td>
            <td>[] มาเอง</td>
        </tr>
    </table>



</template>