<template name="full_report">
    <center>
        <u style="font-size: 24px"><b>แบบรายงานการตายมารดา Confidential Enquiries-CE62</b></u>
    </center>
    <br>
    <table class="careplan" style="font-size: 20px;width: 1075px">
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s12">
                        ชื่อสถานบริการ <b>{{getData.MCH_HOSPITAL}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s3">
                        ตำบล <b>{{getData.MCH_SUBDISTRICT}}</b>
                    </div>
                    <div class="col s3">
                        อำเภอ <b>{{getData.MCH_DISTRICT}}</b>
                    </div>
                    <div class="col s3">
                        จังหวัด <b>{{getData.MCH_PROVINCE}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s3">
                        วันที่รายงาน <b>{{getDay getData.MCH_DATE}}</b>
                    </div>
                    <div class="col s3">
                        เดือน <b>{{getMonth getData.MCH_DATE}}</b>
                    </div>
                    <div class="col s3">
                        พ.ศ.
                        <b>{{getYear getData.MCH_DATE}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <b>1. ข้อมูลทั่วไป</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div class="row">
                    <div class="col s3">
                        ชื่อ <b>{{getData.NAME}}</b>
                    </div>
                    <div class="col s3">
                        นามสกุล <b>{{getData.LNAME}}</b>
                    </div>
                    <div class="col s3">
                        อายุ <b>{{getData.AGE}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="text-indent: 10px">สัญชาติ</td>
            <td colspan="4">
                <form action="#">
                    <p>
                        <label>
                            <input name="nation" type="checkbox" value="1"/>
                            <span>ไทย (เป็นคนไทย หรือคนที่มีเลข 13 หลัก แต่ไม่ระบุสัญชาติ)</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="nation" type="checkbox" value="2"/>
                            <span>ต่างด้าว (ลาว พม่า กัมพูชา)</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="nation" type="checkbox" value="3"/>
                            <span>กลุ่มชาติพันธุ์</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="nation" type="checkbox" value="4"/>
                            <span>อื่นๆ <b>{{getData.NATIONALITY_OTHER}}</b></span>
                        </label>
                    </p>
                </form>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <div class="row">
                    <div class="col s4">
                        อาชีพ <b>{{getData.CAREER}}</b>
                    </div>
                    <div class="col s4">
                        เลขประจำตัวประชาชน <b>{{getData.CID}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s4">
                        เลขที่ผู้ป่วยนอก <b>{{getData.OUTNUMBER}}</b>
                    </div>
                    <div class="col s4">
                        เลขที่ผู้ป่วยใน <b>{{getData.INNUMBER}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s4">
                        วันที่เสียชีวิต <b>{{getData.DATE_DEAD}}</b>
                    </div>
                    <div class="col s5">
                        อายุครรภ์ขณะมารดาเสียชีวิต <b>{{getData.GES_AGE_MOM_DEAD}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <b>2. ข้อมูลการฝากครรภ์</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s4">
                        ตั้งครรภ์ที่ <b>{{getData.NO_PREGNANCY}}</b>
                    </div>
                    <div class="col s4">
                        เคยคลอด (ครั้ง) <b>{{getData.NO_BIRTH}}</b>
                    </div>
                    <div class="col s4">
                        เคยแท้ง (ครั้ง) <b>{{getData.NO_MISCARRIAGE}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s5">
                        วันที่มาฝากครรภ์ครั้งแรก (สัปดาห์) <b>{{getData.DATE_ANTENATAL_CARE}}</b>
                    </div>
                    <div class="col s5">
                        จำนวนครั้งของการฝากครรภ์ (ครั้ง) <b>{{getData.NO_ANTENATAL_CARE}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s4">
                        Hb/Hct ครั้งที่ 1 <b>{{getData.HB_HCT1}}</b>
                    </div>
                    <div class="col s4">
                        Hb/Hct ครั้งที่ 2 <b>{{getData.HB_HCT2}}</b>
                    </div>
                    <div class="col s4">
                        Hb/Hct ครั้งที่ 3 <b>{{getData.HB_HCT3}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s4">
                        Anti HIV <b>{{getData.ANTIHIV}}</b>
                    </div>
                    <div class="col s4">
                        VNRI <b>{{getData.VDRL}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s6">
                        น้ำหนักของมารดาก่อนฝากครรภ์(กก.) <b>{{getData.PRE_WEIGHT_ANTENATAL_CARE}}</b>
                    </div>
                    <div class="col s4">
                        ส่วนสูง(ซม.) <b>{{getData.HIGHT}}</b>
                    </div>
                    <div class="col s2">
                        BMI <b>{{getData.BMI1}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s6">
                        น้ำหนักของมารดาเมื่อฝากครรภ์ครั้งแรก(กก.) <b>{{getData.WIEGHT_ANTENATAL_CARE}}</b>
                    </div>
                    <div class="col s4">
                        ส่วนสูง(ซม.) <b>{{getData.HIGHT_2}}</b>
                    </div>
                    <div class="col s2">
                        BMI <b>{{getData.BMI2}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s6">
                        น้ำหนักของมารดาก่อนคลอด(กก.) <b>{{getData.PRE_WEIGHT}}</b>
                    </div>
                    <div class="col s4">
                        ส่วนสูง(ซม.) <b>{{getData.HIGHT_3}}</b>
                    </div>
                    <div class="col s2">
                        BMI <b>{{getData.BMI3}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <b>3. ภาวะเสี่ยงขณะตั้งครรภ์</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s4">
                        ประวัติเสี่ยงภาวะเสี่ยงของการตั้งครรภ์
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <div class="row">
                    <div class="col s2">
                        <form action="#">
                            <p style="margin: 5px 0px !important;">
                                <label>
                                    <input name="check3_1" type="checkbox" value="1"/>
                                    <span>มี</span>
                                </label>
                            </p>
                        </form>
                    </div>
                    <div class="col s2">
                        <form action="#">
                            <p style="margin: 5px 0px !important;">
                                <label>
                                    <input name="check3_1" type="checkbox" value="2"/>
                                    <span>ไม่มี</span>
                                </label>
                            </p>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <form action="#">
                    <div class="row">
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check3_2_1" type="checkbox" value="1"/>
                                <span>ความดันโลหิตสูง</span>
                            </label>
                        </p>
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check3_2_2" type="checkbox" value="1"/>
                                <span>ไข่ขาวในปัสสาวะ</span>
                            </label>
                        </p>
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check3_2_3" type="checkbox" value="1"/>
                                <span>น้ำตาลในปัสสวาวะ</span>
                            </label>
                        </p>
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check3_2_4" type="checkbox" value="1"/>
                                <span>ซีด</span>
                            </label>
                        </p>
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check3_2_5" type="checkbox" value="1"/>
                                <span>เด็กท่าผิดปกติ</span>
                            </label>
                        </p>
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check3_2_6" type="checkbox" value="1"/>
                                <span>Previouse C/S</span>
                            </label>
                        </p>
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check3_2_7" type="checkbox" value="1"/>
                                <span>อื่น ๆ ระบุ <b>{{getData.REMAKEWOMB_CH7}}</b> </span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s6">
                        ประวัติการได้รับยาขณะตั้งครรภ์ <b>{{getData.HISTORY _DRUG}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <b>4. การรับเข้ารักษาในสถานบริการ</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s6">
                        ว.ด.ป. เข้ารับรักษา วันที่ <b>{{getData.CASEREFER_DATE}}</b>
                    </div>
                    <div class="col s4">
                        เวลา <b>{{getData.CASEREFER_TIME}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row" style="text-indent: 10px">
                    อาการนำที่มาถึงสถานบริการ
                    <div class="col s12">
                        <form action="#">
                            <div class="row">
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_1_1" value="1" type="checkbox" />
                                        <span>แท้ง</span>
                                    </label>
                                </p>
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_1_2" value="1" type="checkbox" />
                                        <span>ท้องนอกมดลูก</span>
                                    </label>
                                </p>
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_1_3" value="1" type="checkbox" />
                                        <span>ฝากครรภ์</span>
                                    </label>
                                </p>
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_1_4" value="1" type="checkbox" />
                                        <span>เจ็บครรภ์ / น้ำเดิน</span>
                                    </label>
                                </p>
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_1_5" value="1" type="checkbox" />
                                        <span>หลังคลอด</span>
                                    </label>
                                </p>
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_1_6" value="1" type="checkbox" />
                                        <span>ตกเลือดก่อนคลอด</span>
                                    </label>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row" style="text-indent: 10px">
                    สภาพผู้ป่วยเมื่อถึงสถานบริการ
                    <div class="col s12">
                        <form action="#">
                            <div class="row">
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_2_1" value="1" type="checkbox" />
                                        <span>ยังดูดี (stable)</span>
                                    </label>
                                </p>
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_2_2" value="1" type="checkbox" />
                                        <span>อาการหนัก</span>
                                    </label>
                                </p>
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_2_3" value="1" type="checkbox" />
                                        <span>เสียชีวิตเมื่อถึงสถานบริการ</span>
                                    </label>
                                </p>
                                <p class="col s4" style="margin: 5px 0px !important;">
                                    <label>
                                        <input name="check4_2_4" value="1" type="checkbox" />
                                        <span>อื่นๆ ระบุ <b>{{getData.STATUS_PATIENT_AT_SERVICE_4}}</b></span>
                                    </label>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <b>5. ข้อมูลทัการคลอดหรือการแท้ง</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>

        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <p style="text-indent: 10px">A ความก้าวหน้าของการคลอด</p>
                    <p style="text-indent: 10px">มีการใช้ Partograph หรือไม่</p>
                    <div class="col s4">
                        <form>
                            <p class="col s4" style="margin: 5px 0px !important;">
                                <label>
                                    <input name="check5_1" value="1" type="checkbox" />
                                    <span>ใช่</span>
                                </label>
                            </p>
                        </form>
                    </div>
                    <div class="col s4">
                        <form>
                            <p class="col s4" style="margin: 5px 0px !important;">
                                <label>
                                    <input name="check5_1" value="1" type="checkbox" />
                                    <span>ไม่ใช่</span>
                                </label>
                            </p>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s2">ระยะที่ 1</div>
                    <div class="col s2"><b>{{getData.TERM_1}}</b> ชม.</div>
                    <div class="col s2"><b>{{getData.TERM_1_1}}</b> นาที</div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s2">ระยะที่ 2</div>
                    <div class="col s2"><b>{{getData.TERM_2}}</b> ชม.</div>
                    <div class="col s2"><b>{{getData.TERM_2_1}}</b> นาที</div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s2">ระยะที่ 3</div>
                    <div class="col s2"><b>{{getData.TERM_3}}</b> ชม.</div>
                    <div class="col s2"><b>{{getData.TERM_3_1}}</b> นาที</div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s4">น้ำคว่ำแตกเวลา <b>{{getData.TIME_AMNIOTIC}}</b></div>
                    <div class="col s4">สีน้ำคร่ำ <b>{{getData.COLOR_AMNIOTIC}}</b></div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <p style="text-indent: 10px">B ข้อมูลการคลอดหรือการแท้ง</p>
                    <div class="col s4">วันที่คลอดหรือแท้ง <b>{{getData.DATE_BIRTH}}</b></div>
                    <div class="col s4">เวลา <b>{{getData.TIME_BIRTH}}</b></div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <div class="row">
                    <div class="col s4"><b>กรณีแท้ง</b></div>
                    <div class="col s2">
                        <form>
                            <p style="margin: 5px 0px !important;">
                                <label>
                                    <input name="check5_2" value="1" type="checkbox" />
                                    <span>แท้งเอง</span>
                                </label>
                            </p>
                        </form>
                    </div>
                    <div class="col s2">
                        <form>
                            <p style="margin: 5px 0px !important;">
                                <label>
                                    <input name="check5_2" value="1" type="checkbox" />
                                    <span>ทำแท้ง</span>
                                </label>
                            </p>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        <section style="height: 10px;"></section>
        <tr>
            <td style="text-indent: 10px"><b>กรณีคลอด</b></td>
            <td colspan="4">
                <div class="row">
                    <form>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_3" type="checkbox" />
                                <span>ปกติ</span>
                            </label>
                        </p>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_3" type="checkbox" />
                                <span>C/S</span>
                            </label>
                        </p>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_3" type="checkbox" />
                                <span>F/E</span>
                            </label>
                        </p>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_3" type="checkbox" />
                                <span>V/E</span>
                            </label>
                        </p>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_3" type="checkbox" />
                                <span>BBA</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_3" type="checkbox" />
                                <span>คลอดท่าก้นช้างคลอด</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_3" type="checkbox" />
                                <span>อื่นๆ <b>{{getData.BIRTH_OTHER}}</b></span>
                            </label>
                        </p>
                    </form>
                </div>
            </td>
        </tr>
        <section style="height: 10px;"></section>
        <tr style="border: none;">
            <td style="text-indent: 10px"><b>ผู้ทำคลอด</b></td>
            <td colspan="4">
                <div class="row">
                    <form>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_4" type="checkbox" />
                                <span>สูติแพทย์</span>
                            </label>
                        </p>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_4" type="checkbox" />
                                <span>พยาบาล</span>
                            </label>
                        </p>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_4" type="checkbox" />
                                <span>ผดุงครรภ์</span>
                            </label>
                        </p>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_4" type="checkbox" />
                                <span>ผดุงครรภ์โบราณ</span>
                            </label>
                        </p>
                        <p class="col s3" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_4" type="checkbox" />
                                <span>แพทย์ใช้ทุน</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_4" type="checkbox" />
                                <span>บุคคลอื่นๆ ที่ผ่านอบรม</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check5_4" type="checkbox" />
                                <span>อื่นๆ <b>{{getData.ACCOUCHEUR_OTHER}}</b></span>
                            </label>
                        </p>
                    </form>
                </div>
            </td>
            <td></td>
        </tr>
        <tr style="border: none;">
            <td colspan="5" style="text-indent: 10px">น้ำหนักทารกแรกเกิด <b>{{getData.BIRTH_WEIGHT}}</b> กรัม</td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <p style="text-indent: 10px">C ลักษณะเด่นเมื่อยเด็กคลอด</p>
                    <div class="col s12"> <b>{{getData.BIRTH_DESCRIPTION}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s12">Apgar score ที่ 1 นาที = <b>{{getData.APGAR_SCORE_1}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s12">ลักษณะของทารกและน้ำหนัก <b>{{getData.BIRTH_DESCRIPTION_WEIGHT}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <div class="row">
                    <div class="col s12">อาการของมารดาเมื่อหลังคลอด <b>{{getData.BEHAVIOUR_MOM}}</b>
                    </div>
                </div>
            </td>
        </tr>
        <br />
        <br />
        <br />
        <br />
        <tr style="border: none;">
            <td colspan="5">
                <b>6. สรุป สาเหตุสำคัญที่ทำให้มารดาเสียชีวิต</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <br>
        <tr>
            <td colspan="1" style="text-indent: 10px">1. Pregnancies with abortive outcome</td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_1" type="checkbox" />
                                <span>Ectopic pregnancy</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_1" type="checkbox" />
                                <span>Failed attempted abortion</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_1" type="checkbox" />
                                <span>Complication of abortion</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_1" type="checkbox" />
                                <span>Hydatidiform mole</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_1" type="checkbox" />
                                <span>Report</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-indent: 10px">
                2. Hypertensive disorders in pregnancy,childbirth,and the puerperium
            </td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_2" type="checkbox" />
                                <span>Pregnancy induced hypertension</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_2" type="checkbox" />
                                <span>Gestational hypertension</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_2" type="checkbox" />
                                <span>Eclampsia</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-indent: 10px">3. Obstetric haemorrhage</td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_3" type="checkbox" />
                                <span>Placenta adherens</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_3" type="checkbox" />
                                <span>Abruptio placentae</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_3" type="checkbox" />
                                <span>Intrapartum hemorrhage</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_3" type="checkbox" />
                                <span>Postpartum hemorrhage</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_3" type="checkbox" />
                                <span>Obstetric trauma</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_3" type="checkbox" />
                                <span>Placenta previa</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_3" type="checkbox" />
                                <span>Autepartum hemorrhage</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-indent: 10px">4. Pregnancy-related infection</td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_4" type="checkbox" />
                                <span>Chorioamnionitis</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_4" type="checkbox" />
                                <span>Infections of genitourinary tract</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_4" type="checkbox" />
                                <span>Puerperal infection</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-indent: 10px">5. Other obstertric complication</td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_5" type="checkbox" />
                                <span>Venous complications : DVT</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_5" type="checkbox" />
                                <span>Postpartum cardiomyopathy</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_5" type="checkbox" />
                                <span>Obstetric embolism</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_5" type="checkbox" />
                                <span>Liver disorders : Acute fatty liver</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_5" type="checkbox" />
                                <span>Intentional self - harm</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-indent: 10px">6. Unanticipated complications of management</td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_6" type="checkbox" />
                                <span>Complications of anesthesia</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_6" type="checkbox" />
                                <span>Complication of surgery</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_6" type="checkbox" />
                                <span>Complications of medical</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-indent: 10px">7. Non-obstertric complications</td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>Heart vascular diseases</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>Pneumonia</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>AIDS</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>Malignancy</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>Cerebral hemorrhage</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>Neoplasm</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>Autoimmune diseases</span>
                            </label>
                        </p>
                        <p class="col s6" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>Endocrine diseases</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_7" type="checkbox" />
                                <span>Infections that are not a direct result of pregnancy</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="1" style="text-indent: 10px">8. Unknowm/undetermined</td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_8" type="checkbox" />
                                <span>The underlying cause is unknown or was not determined</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="1" style="text-indent: 10px">9. Coincidental causes</td>
            <td colspan="2">
                <form action="#">
                    <div class="row">
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_9" type="checkbox" />
                                <span>External causes except intentional self-harm</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check6_9" type="checkbox" />
                                <span>Diseases not aggravated by the pregnancy</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section style="height: 10px;"></section>
    <table class="careplan" style="font-size: 20px;width: 1075px">
        <tr style="border: none;">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <b>7. สรุปสาเหตุที่ทำให้มารดาเสียชีวิตเมื่อวิเคราะห์ 3 Day</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: 1px solid black;padding-right: 15px">
            <td style="text-align: center;border: 1px solid black;width: 320px;text-indent: .5em">
                Delays
            </td>
            <td style="text-align: center;border: 1px solid black;width: 320px;text-indent: .5em">
                หัวข้อ
            </td>
            <td style="text-align: center;border: 1px solid black;width: 60px;text-indent: .5em">
                ใช่
            </td>
            <td style="text-align: center;border: 1px solid black;width: 60px;text-indent: .5em">
                ไม่ใช่
            </td>
            <td style="text-align: center;border: 1px solid black;width: 330px;text-indent: .5em">
                เหตุผล
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="border: 1px solid black;text-indent: .5em">
                1. หญิงตั้งครรภ์/ครอบครัว<br />(การตัดสินใจ)
            </td>
            <td style="border: 1px solid black;text-indent: .5em">
                ความชักช้าในการตัดสินใจเข้าสถานพยาบาล
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_1_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_1_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_1">....</p></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;text-indent: .5em">
                การปฎิเสธการรักษาหรือเข้ารับการรักษา
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_1_2_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_1_2_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_1_2">....</p></td>
        </tr>
        <tr>
            <td rowspan="3" style="border: 1px solid black;text-indent: .5em">
                2. ระบบการส่งต่อและการสื่อสาร<br />(การเข้าถึง)
            </td>
            <td style="border: 1px solid black;text-indent: .5em">
                ขาดยานพาหนะจากบ้านไปสถานพยาบาล
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_2_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_2_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_2">....</p></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;text-indent: .5em">
                ขาดยานพาหนะระหว่างสถานพยาบาล
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_2_2_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_2_2_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_2_2">....</p></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;text-indent: .5em">
                การสื่อระหว่างสถานบริการล้มเหลว
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_2_3_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_2_3_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_2_3">....</p></td>
        </tr>
        <tr>
            <td rowspan="4" style="border: 1px solid black;text-indent: .5em">
                3. บุคคลากรและสถานบริการ<br />(คุณภาพบริการ)
            </td>
            <td style="border: 1px solid black;text-indent: .5em">
                ขาดวัสดุอุปกรณ์ทางการแพทย์,ยา,คลังเลือด
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_3_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_3_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_3">....</p></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;text-indent: .5em">
                บุคคลากรไม่เพียงพอ
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_3_2_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_3_2_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_3_2">....</p></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;text-indent: .5em">
                ขาดทักษะ ความชำนาญ
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_3_3_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_3_3_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_3_3">....</p></td>
        </tr>
        <tr>
            <td style="border: 1px solid black;text-indent: .5em">
                ความล่าช้าในการการรักษาและตัดสินใจ เปลี่ยนวิธีการรักษาตาม CPG
            </td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_3_4_TRUE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><i style="display: none" id="CH_3_4_FALSE" class="material-icons">check</i></td>
            <td style="border: 1px solid black;text-indent: .5em"><p id="SUB_CH_3_4">....</p></td>
        </tr>
        <br>
        <tr style="border: none;">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <b>8. การผ่าชันสูตรศพ</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <form action="#">
                    <div class="row">
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check8" type="checkbox" />
                                <span>ไม่ได้ทำ</span>
                            </label>
                        </p>
                        <p class="col s12" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check8" type="checkbox" />
                                <span>ได้ทำ <b>ผลการชันสูตรศพ</b> <b>{{getData.BIRTH_DESCRIPTION}}</b></span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <b>9.
                    สรุปโดยย่อเกี่ยวกับปัจจัยหรือเหตุการณ์สำคัญที่เกี่ยวข้องกับการตาย</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5" style="text-indent: 10px">
                <b>{{getData.EVENT_DEAD}}</b>
            </td>
        </tr>
        <section style="height: 10px;"></section>
        <tr style="border: none;">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <b>10. การตายครั้งนี้สามารถป้องกันได้หรือไม่</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5">
                <form action="#">
                    <div class="row">
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check10" type="checkbox" />
                                <span>ได้</span>
                            </label>
                        </p>
                        <p class="col s4" style="margin: 5px 0px !important;">
                            <label>
                                <input name="check10" type="checkbox" />
                                <span>ไม่ได้</span>
                            </label>
                        </p>
                    </div>
                </form>
            </td>
        </tr>
        <tr style="border: none;">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <b>11. ข้อเสนอแนะเพื่อการพัฒนา</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="5" style="text-indent: 10px">
                <b>{{getData.SUGGESTION}}</b>
            </td>
        </tr>
        <section style="height: 10px;"></section>
        <tr style="border: none;">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <b>12. สูติแพทย์</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="1" style="text-indent: 10px">
                (ชื่อ-สกุล) <b>{{getData.VERIFY_NAME}}</b> <b>{{getData.VERIFY_LNAME}}</b>
            </td>
            <td colspan="1" style="text-indent: 10px">
                วันที่ <b>{{getData.VERIFY_DATE}}</b>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="1" style="text-indent: 10px">
                ตำแหน่ง <b>สูติแพทย์</b>
            </td>
            <td colspan="1" style="text-indent: 10px">
                หน่วยงาน <b>{{getData.OB_DEPARTMENT}}</b>
            </td>
        </tr>
        <section style="height: 10px;"></section>
        <tr style="border: none;">
            <td colspan="5">
                <section style="height: 10px;"></section>
                <b>13. ผู้ส่งรายงานเข้ากรมอนามัย</b>
                <section style="height: 10px;"></section>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="1" style="text-indent: 10px">
                (ชื่อ-สกุล) <b>{{getData.REPORT_NAME}}</b> <b>{{getData.REPORT_LNAME}}</b>
            </td>
            <td colspan="1" style="text-indent: 10px">
                วันที่ <b>{{getData.REPORT_DATE}}</b>
            </td>
        </tr>
        <tr style="border: none">
            <td colspan="1" style="text-indent: 10px">
                ตำแหน่ง <b>{{getData.POSITION}}</b>
            </td>
            <td colspan="1" style="text-indent: 10px">
                หน่วยงาน <b>{{getData.SEND_DEPARTMENT}}</b>
            </td>
        </tr>
    </table>
</template>