<template name="navbar">
    <!-- Compiled and minified CSS -->
    
    <nav style="height: 80px;">
            <div class="nav-wrapper" style="background-color: #84fab0;
            background-image: linear-gradient(62deg, #84fab0 0%, #8fd3f4 50%, #6f86d6 100%);
            ">
                <a href="#" class="brand-logo center" style="padding-top: 5px">
                    <img src="Logo_Anamai.png" style="height: 75px;">
                </a>
                <!-- <a href="#" data-target="mobile-demo" class="sidenav-trigger" style="padding-top: 30px;color: black"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down" style="padding-top: 12px">
                
              </ul> -->
            </div>
          </nav>

</template>