<template name='result'>
    <div class="ce-info">
        {{> navbar}}
        <div class="container">
            <div id="page_1">
                <div class="card-panel z-depth-1">
                    <div style="margin-top: -20px">
                        <p class="font-medium-lager center"> แบบรายงานการตายมารดา Confidential Enquiries-CE 62</p>



                        <div class="row">
                            <div col s12 m2 l2>
                                <div class="col s12 m12 l12">

                                    <a href="/c" class="waves-effect waves-light btn-small right">บันทึกการตาย<i
                                            class="material-icons left">add</i></a>
                                </div>

                                <div class="input-field col s12 m2 l2" id="year-div">
                                    <select id="yearsearch">
                                        <option value="2563" selected>2563</option>
                                        <option value="2562">2562</option>

                                        {{#each allyear}}
                                        <option value="{{year}}">{{year}}</option>

                                        {{/each}}
                                    </select>
                                    <label style="color: black">เลือกปีงบประมาณ</label>
                                </div>
                            </div>
                            <div class="col s12 m10 l10">
                                <!-- <div class="input-field col s12 m3 l3" id="domain-div">
                                    <select id="domainsearch">
                                      
                                        <option value="all">ทุกเขตสุขภาพ</option>
                                        {{#each domain}}
                                        <option value="{{DOMAIN}}">{{SELECTDOMAIN13 DOMAIN}}</option>
                                        {{/each}}
                                    </select>
                                    <label style="color: black">เลือกเขต</label>
                                </div> -->
                                <div class="input-field col s12 m4 l4" id="provence-div" >
                                    <select id="provincesearch">
                                        <!-- <option value="" disabled selected>เลือกจังหวัด</option> -->
                                        <option value="all">ทุกจังหวัด</option>
                                        {{#each province}}
                                        <option value="{{PROVINCE}}">{{ PROVINCE}}</option>
                                        {{/each}}
                                    </select>
                                    <label style="color: black">เลือกจังหวัด</label>
                                </div>
                                <div class="input-field col s12 m4 l4" id="district-div" style="display: none;">
                                    <select id="districtsearch">
                                        <!-- <option value="" disabled selected>เลือกอำเภอ</option> -->
                                        <option value="all">ทุกอำเภอ</option>
                                        {{#each district}}
                                        <option value="{{DISTRICT}}">{{ DISTRICT}}</option>
                                        {{/each}}
                                    </select>
                                    <label style="color: black">เลือกอำเภอ</label>
                                </div>
                                <div class="input-field col s12 m4 l4" id="subdistrict-div" style="display: none;">
                                    <select id="subdistrictsearch">
                                        <!-- <option value="" disabled selected>เลือกอำเภอ</option> -->
                                        <option value="all">ทุกตำบล</option>
                                        {{#each subdistrict}}
                                        <option value="{{SUBDISTRICT}}">{{SUBDISTRICT}}</option>
                                        {{/each}}
                                    </select>
                                    <label style="color: black">เลือกตำบล</label>
                                </div>
                            </div>


                        </div>

                        <table class="highlight table-result centered">
                            <thead>
                                <tr>
                                    <th>รหัส</th>
                                    <th>เลขบัตรประชาชน</th>
                                    <th>ชื่อ-สกุล</th>
                                    <th>วันที่ตาย</th>
                                    <th>แบบง่าย</th>
                                    <th>แบบละเอียด</th>
                                    <th>พิมพ์</th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each alldata}}
                                <tr>

                                    <td>{{ID}}</td>
                                    <td>{{CID}}</td>
                                    <td>{{NAME}} {{LNAME}}</td>
                                    <td>{{date_to_thai DATE_DEAD}}</td>
                                    <td>
                                        <p>
                                            <label>
                                                <input type="checkbox" class="filled-in checkeasy" checked="checked" />
                                                <span></span>
                                            </label>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <label>
                                                <input type="checkbox" value="{{ID}}" class="filled-in checkfull" />
                                                <span></span>
                                            </label>
                                        </p>
                                    </td>
                                    <td><i class="material-icons">print</i></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>

                    </div>
                </div>

                <br>
            </div>
        </div>
    </div>

</template>